<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!--Azure:-->
	<!--<add name="dbhamburgueriaEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=codeandcheesedb.database.windows.net;initial catalog=dbhamburgueria;persist security info=True;user id=aluno;password=senac111!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--LUIZ-PC:-->
	<add name="dbhamburgueriaEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LUIZ-PC;initial catalog=dbhamburgueria;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--Sala 15:-->
	<!--<add name="dbhamburgueriaEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PPR0687565W10-1;initial catalog=dbhamburgueria;persist security info=True;user id=Aluno;password=senac111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--Sala 16:-->
	<!--<add name="dbhamburgueriaEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PPR0561024W10-1;initial catalog=dbhamburgueria;persist security info=True;user id=sa;password=senac111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--Sala 18:-->
	<!--<add name="dbhamburgueriaEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PPR0560974W10-1;initial catalog=dbhamburgueria;persist security info=True;user id=sa;password=senac111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>
