<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!--Template:-->
	<add name="dbhamburgueriaEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=dbhamburgueria;persist security info=True;user id=Aluno;password=Senac111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>