@{
    ViewBag.Title = "Contato";
}

<!-- Seção de contato com fundo impactante -->
<section class="d-flex align-items-center" style="padding-bottom: 1em">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- Card para o formulário de contato -->
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <h3 class="text-center mb-4">Contato e Suporte</h3>
                        <div class="d-flex">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <p>Utilize essa opção para esclarecer dúvidas gerais e obter suporte da comunidade.</p>
                                    <a href="https://github.com/SenacPPR-TI51GrupoWebLuiz-Henrique/WebHamburgueria/discussions" target="_blank" class="btn me-2 github-icon"><i class="bi bi-github"></i> GitHub Discussions </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <p>Se você encontrou algum bug ou problema, registre um issue para que possamos corrigi-lo.</p>
                                    <a href="https://github.com/SenacPPR-TI51GrupoWebLuiz-Henrique/WebHamburgueria/issues" target="_blank" class="btn me-2 github-icon"><i class="bi bi-github"></i> GitHub Issues </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <p>Sua colaboração é muito importante para o aprimoramento contínuo deste projeto.</p>
                        </div>
                    </div>
                </div>
            <div class="text-center mt-4">
                <p class="mb-2">Visite nosso repositório no GitHub:</p>
                <a href="https://github.com/SenacPPR-TI51GrupoWebLuiz-Henrique/WebHamburgueria" target="_blank" class="btn me-2 github-icon"><i class="bi bi-github"></i> WebHamburgueria </a>
            </div>
            </div>
        </div>
    </div>
</section>
