@{
    ViewBag.Title = "Home Page";
}

<!-- Conteúdo Principal -->
<div class="container-fluid" style="margin-top: 7.5vh; min-height: 75.3vh;">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Gerenciar Produtos</h4>
                </div>
                <div class="card-body">
                    <p>Adicione, edite ou remova produtos do catálogo.</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Gerenciar Usuários</h4>
                </div>
                <div class="card-body">
                    <p>Gerencie as informações dos usuários e suas permissões.</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Relatórios</h4>
                </div>
                <div class="card-body">
                    <p>Visualize relatórios de vendas e desempenho.</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>